.channel-page-c{
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
}

.channel-banner-c img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.channel-info-c {
  display: flex;
  justify-content: center;
  gap:20px;
  margin-top: 30px;
}



.channel-info-c .right-c p,h2 {
  color: white;
  font-weight: bold;
}

.channel-tabs-c {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.channel-tabs-c a,
.channel-tabs-c button {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  padding-bottom: 6px;
}

.channel-tabs-c .active-c {
  border-bottom: 2px solid #4e54c8;
  font-weight: bold;

}

.channel-underline-c {
  border: none;
  height: 2px;
  background-color: #e0e0e0;
  margin: 10px 0 20px;
}

.channel-videos-c .no-videos-c {
  font-style: italic;
  color: #999;
}

.video-list-c {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.video-card-c {
  width: 400px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);

}

.video-card-c img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.video-card-c h4 {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width:80%;
  overflow: hidden;
  text-overflow: ellipsis;


}

/* No channel state */
.no-channel-c {
  text-align: center;
  margin-top: 100px;
}

.create-btn-c {
  display: inline-block;
  margin-top: 20px;
  background-color: #4e54c8;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.Avatar-channel{
  height:15vh;
  width:15vw;
}

.delete-fun{
  display:flex;
}

.del{
  align-self: end;
  margin-bottom:20px;
}