.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #202020;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
  

}

.menu-icon-div{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 35px;
  margin-right: 10px;
}

.logo h2 {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  max-width: 500px;
  display: flex;
  margin: 0 20px;
}

.search-bar input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 3px 0 0 3px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.auth-buttons button {
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.auth-buttons button:hover {
  background-color: white;
  color: #202020;
}

.gif-icon {
  width: 40px;
  height: 40px;
  padding-left: 2px;
  object-fit: contain;
}


nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-name {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #7085c0;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.user-name:hover {
  background-color: #e568db;
}

.signin-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.signin-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
   .menu-icon {
    display: none;
  }

  .logo h2 {
    font-size: 18px;
  }

  .search-bar {
    max-width: 200px;
    margin: 0 10px;
  }

  .search-bar input {
    font-size: 14px;
    padding: 4px 8px;
  }

  .gif-icon {
    width: 30px;
    height: 30px;
  }

  .auth-buttons {
    margin-left: auto;
  }

  .signin-btn, .user-name {
    font-size: 12px;
    padding: 4px 8px;
  }
}
