/* styles/HomePage.css */

.home-wrapper {
  transition: margin-left 0.3s;
  padding: 20px;
  width:80vw;

}



.category-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  width:100%;
}

.category-btn {
  background-color: gray;
  color :white;
  border: none;
  padding: 8px 16px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
  width:100%;

}

.category-btn:hover {
  background-color: white;
  color:black
}

.category-btn.active {
  background-color:white;
  color: black;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Exactly 3 columns */
  width:100%;
  flex-wrap:wrap;
  gap: 15px;
  padding: 10px;
  transition: all 0.3s ease;
  height: 72vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
}

.sidebar-closed {
  padding-left: 20px;
  width:95vw;
}

@media screen and (max-width: 768px) {
  .home-wrapper
   {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    margin: 0px;
  }

  .video-grid{
  display: grid;
  grid-template-columns: 1fr; 
  }

  .sidebar{
    display: none;
  }

 .category-bar{
  scrollbar-width: 0;
 }

}








