.video-card {
  background-color: transparent;
  color: #fff;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.video-card:hover {
  transform: scale(1.03);
}

.video-thumbnail {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-weight: 200;
  margin-bottom: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-channel {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 2px;
}

.video-stats {
  font-size: 0.8rem;
  color: #aaa;
  display: flex;
  gap: 8px;
}
