.video-card {
  background-color: transparent;
  color: #fff;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  width: 28vw;
  cursor: pointer;
}

.video-card:hover {
  transform: scale(1.03);
}

.video-thumbnail {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.video-info {
  display: flex;
  flex-direction: column;
}



.video-channel {
  font-size: 0.9rem;
  margin-top: 0px;
  color: #aaa;
}

.video-stats {
  font-size: 0.8rem;
  color:white;
  font-weight: bold;
  display: flex;
  flex-direction:row;
  align-items:start;    
  gap: 8px;
  margin-top: 0px;
  margin-left: 35px;        
  flex-wrap: wrap;         
}

.avatar-title{
  display: flex;
  margin-bottom: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-channel{
  display:flex;
  flex-direction: column;
  background-color: black;
}

.channel-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 5px;
  object-fit: cover;
}

.video-title {
  font-weight: 150;
 
}

@media screen and (max-width: 768px) {
 
  .sidebar{
    display: none;
  }
.video-card{
  width:100%;
}

}
